.slick-slider {
  width: 88%;
  margin: auto;
  /* background: rgb(14, 13, 13); */
}

.slick-prev,
.slick-next {
  height: 20px;
  width: 20px;
  background-color: red !important;
  background: red !important;
  z-index: 100;
}

/* .slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  color: red;
  background-color: red;
} */
